<!DOCTYPE html>    
<html>
    <head>
        <title>Tolenno - Healthcare Search</title>
    </head>
    <body>
        <% @places.each do |place| %>
            <p><%= place.name %></p>
        <% end %>
    </body>
</html>